.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;

}

.helper-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;

}

.helper-info img {
    width: 100%;
    max-width: 150px;
    margin-bottom: 1rem;
    border-radius: 50%;
}

/* Add these styles to your CSS file */
.main-content {
    padding: 20px;
    position: relative;
    font-style: italic;
    font-size: 1.2rem;
}

.blockquote-container {
    margin: 10px 0;
    padding: 10px;

}

.blockquote-container::before {

    content: '';
    position: absolute;
    top: 10px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;

}

.blockquote-container::after {

    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;

}

.blockquote-container::before {
    left: -10px;
    background-image: url('../assets/quote.png');
}

.blockquote-container::after {

    background-image: url('../assets/quote1.png');
}

.icons {
    display: flex;
    gap: 0.7rem;
    align-items: center;
}